
<html>
    <header>
        <meta charset="UTF-8">
        <title>Page d'accueil</title>
    </header>
    <body>
        <ul style="list-style:none">
            <li style="display: inline-block; padding:10px 20px;"><a href='/'>accueil</a></li>
            <li style="display: inline-block; padding:10px 20px;"><a href='/contact/'>contact</a></li>
            <li style="display: inline-block; padding:10px 20px;"><a href='/article/'>Article</a></li>
        </ul>
        <h1>Page de Bienvenue</h1>
    </body>
</html>